<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div className="navbar">
        <h1>New Times</h1>
        <nav>
          <ul>
            <li><a href="">Politics</a></li>
            <li><a href="">Sports & Games</a></li>
            <li><a href="">Music&Entertainment</a></li>
            <li><a href="">Fashion&Design</a></li>
            <li><a href="">Trade&Commerce</a></li>
            <li><a href="">Health&Sanitation</a></li>
          </ul>
        </nav>
             </div>
             <div className='left'>
                <p>
                    <b>Get advises ob how to boost your sales</b>
                         <br />
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Vero ratione neque cupiditate at veritatis blanditiisnemo quia iure ullam, libero autem minus iusto natus quisquam eligendi quidem tenetur aspernatur magnam!
                      </p>
                      <br />
                      <p>
                    <b>Get advises ob how to boost your sales</b>
                         <br />
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Vero ratione neque cupiditate at veritatis blanditiisnemo quia iure ullam, libero autem minus iusto natus quisquam eligendi quidem tenetur aspernatur magnam!
                      </p>
                      <br />
                      <p>
                    <b>Get advises ob how to boost your sales</b>
                         <br />
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Vero ratione neque cupiditate at veritatis blanditiisnemo quia iure ullam, libero autem minus iusto natus quisquam eligendi quidem tenetur aspernatur magnam!
                      </p>
                      <br />
                      <p>
                    <b>Get advises ob how to boost your sales</b>
                         <br />
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Vero ratione neque cupiditate at veritatis blanditiisnemo quia iure ullam, libero autem minus iusto natus quisquam eligendi quidem tenetur aspernatur magnam!
                      </p>
                      <br />
                      <p>
                    <b>Get advises ob how to boost your sales</b>
                         <br />
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Vero ratione neque cupiditate at veritatis blanditiisnemo quia iure ullam, libero autem minus iusto natus quisquam eligendi quidem tenetur aspernatur magnam!
                      </p>
                      <br />
                      <p>
                    <b>Get advises ob how to boost your sales</b>
                         <br />
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Vero ratione neque cupiditate at veritatis blanditiisnemo quia iure ullam, libero autem minus iusto natus quisquam eligendi quidem tenetur aspernatur magnam!
                      </p>
                      <br />
                      <p>
                    <b>Get advises ob how to boost your sales</b>
                         <br />
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Vero ratione neque cupiditate at veritatis blanditiisnemo quia iure ullam, libero autem minus iusto natus quisquam eligendi quidem tenetur aspernatur magnam!
                      </p>
                      <br />
                      <p>
                    <b>Get advises ob how to boost your sales</b>
                         <br />
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Vero ratione neque cupiditate at veritatis blanditiisnemo quia iure ullam, libero autem minus iusto natus quisquam eligendi quidem tenetur aspernatur magnam!
                      </p>
                      <br />       <p>
                    <b>Get advises ob how to boost your sales</b>
                         <br />
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Vero ratione neque cupiditate at veritatis blanditiisnemo quia iure ullam, libero autem minus iusto natus quisquam eligendi quidem tenetur aspernatur magnam!
                      </p>
                      <br />
                      
        
            </div>
             <div className='middle'>
                <img src="../assets/trump.jpg"alt="trump" width="100%" />
                <div className="btwn">
                  Lorem, ipsum dolor sit amet consectetur adipisicing elit. Itaque ipsam, quam labore minus illo adipisci, fugiat consequuntur ut doloribus harum dolor, inventore iusto dolore. Omnis assumenda enim sint aliquam ex!
          
                  Lorem, ipsum dolor sit amet consectetur adipisicing elit. Itaque ipsam, quam labore minus illo adipisci, fugiat consequuntur ut doloribus harum dolor, inventore iusto dolore. Omnis assumenda enim sint aliquam ex!
                <div className='pap'>
          
                  Lorem, ipsum dolor sit amet consectetur adipisicing elit. Itaque ipsam, quam labore minus illo adipisci, fugiat consequuntur ut doloribus harum dolor, inventore iusto dolore. Omnis assumenda enim sint aliquam ex!
          </div>
                  <button type="submit" onClick={openPopup}>Pay To Read More</button>
          
                  <div className="popup" ref={popupRef}>
                    <h2>Pay with:</h2>
                    <img src="../assets/visa-credit-card.png" height="100px" width="100px" alt="visa credit card" />
                    <img src="../assets/mastercard.png" height="100px" width="100px" alt="mastercard" />
          
                    <button type="button" onClick={closePopup}>Pay</button>
                  </div>
                </div>
          
                <div className='pay'>
                  Lorem, ipsum dolor sit amet consectetur adipisicing elit. Itaque ipsam, quam labore minus illo adipisci, fugiat consequuntur ut doloribus harum dolor, inventore iusto dolore. Omnis assumenda enim sint aliquam ex! Lorem, ipsum dolor sit amet consectetur adipisicing elit.
                  </div>
          
                <div className='yup'>
                   Itaque ipsam, quam labore minus illo adipisci, fugiat consequuntur ut doloribus harum dolor, inventore iusto dolore. Omnis assumenda enim sint aliquam ex! Lorem, ipsum dolor sit amet consectetur adipisicing elit. Itaque ipsam, quam labore minus illo adipisci, fugiat consequuntur ut doloribus harum dolor, inventore iusto dolore. Omnis assumenda enim sint aliquam ex!
                  Lorem, ipsum dolor sit amet consectetur adipisicing elit. Itaque ipsam, quam labore minus illo adipisci, fugiat consequuntur ut doloribus harum dolor, inventore iusto dolore. Om
                  </div>
                <div className='pep'>
          
                  Lorem, ipsum dolor sit amet consectetur adipisicing elit. Itaque ipsam, quam labore minus illo adipisci, fugiat consequuntur ut doloribus harum dolor, inventore iusto dolore. Omnis assumenda enim sint aliquam ex! Lorem, ipsum dolor sit amet consectetur adipisicing elit. Itaque ipsam, quam labore minus illo adipisci, fugiat consequuntur ut doloribus harum dolor, inventore iusto dolore. Omnis assumenda enim sint aliquam ex! Lorem, ipsum dolor sit amet consectetur adipisicing elit. 
                  </div>
                <div className='pup'>
                  Itaque ipsam, quam labore minus illo adipisci, fugiat consequuntur ut doloribus harum dolor, inventore iusto dolore. Omnis assumenda enim sint aliquam ex!
                  Lorem, ipsum dolor sit amet consectetur adipisicing elit. Itaque ipsam, quam labore minus illo adipisci, fugiat consequuntur ut doloribus harum dolor, inventore iusto dolore. Om
                  Itaque ipsam, quam labore minus illo adipisci, fugiat consequuntur ut doloribus harum dolor, inventore iusto dolore. Omnis assumenda enim sint aliquam ex!
                  Lorem, ipsum dolor sit amet consectetur adipisicing elit. Itaque ipsam, quam labore minus illo adipisci, fugiat consequuntur ut doloribus harum dolor, inventore iusto dolore. Om    Itaque ipsam, quam labore minus illo adipisci, fugiat consequuntur ut doloribus harum dolor, inventore iusto dolore. Omnis assumenda enim sint aliquam ex!
                  Lorem, ipsum dolor sit amet consectetur adipisicing elit. Itaque ipsam, quam labore minus illo adipisci, fugiat consequuntur ut doloribus harum dolor, inventore iusto dolore. Om
                  </div>
                  </div>
                  <div className='right'>

                    <p>
                                <b>Get advises ob how to boost your sales</b>
                                     <br />
                                Lorem ipsum dolor sit amet consectetur adipisicing elit. Vero ratione neque cupiditate at veritatis blanditiisnemo quia iure ullam, libero autem minus iusto natus quisquam eligendi quidem tenetur aspernatur magnam!
                                  </p>
                                  <br />
                                  <p>
                                <b>Get advises ob how to boost your sales</b>
                                     <br />
                                Lorem ipsum dolor sit amet consectetur adipisicing elit. Vero ratione neque cupiditate at veritatis blanditiisnemo quia iure ullam, libero autem minus iusto natus quisquam eligendi quidem tenetur aspernatur magnam!
                                  </p>
                                  <br />
                                  <p>
                                <b>Get advises ob how to boost your sales</b>
                                     <br />
                                Lorem ipsum dolor sit amet consectetur adipisicing elit. Vero ratione neque cupiditate at veritatis blanditiisnemo quia iure ullam, libero autem minus iusto natus quisquam eligendi quidem tenetur aspernatur magnam!
                                  </p>
                                  <br />
                                  <p>
                                <b>Get advises ob how to boost your sales</b>
                                     <br />
                                Lorem ipsum dolor sit amet consectetur adipisicing elit. Vero ratione neque cupiditate at veritatis blanditiisnemo quia iure ullam, libero autem minus iusto natus quisquam eligendi quidem tenetur aspernatur magnam!
                                  </p>
                                  <br />
                                  <p>
                                <b>Get advises ob how to boost your sales</b>
                                     <br />
                                Lorem ipsum dolor sit amet consectetur adipisicing elit. Vero ratione neque cupiditate at veritatis blanditiisnemo quia iure ullam, libero autem minus iusto natus quisquam eligendi quidem tenetur aspernatur magnam!
                                  </p>
                                  <br />
                                  <p>
                                <b>Get advises ob how to boost your sales</b>
                                     <br />
                                Lorem ipsum dolor sit amet consectetur adipisicing elit. Vero ratione neque cupiditate at veritatis blanditiisnemo quia iure ullam, libero autem minus iusto natus quisquam eligendi quidem tenetur aspernatur magnam!
                                  </p>
                                  <br />       <p>
                                <b>Get advises ob how to boost your sales</b>
                                     <br />
                                Lorem ipsum dolor sit amet consectetur adipisicing elit. Vero ratione neque cupiditate at veritatis blanditiisnemo quia iure ullam, libero autem minus iusto natus quisquam eligendi quidem tenetur aspernatur magnam!
                                  </p>
                                  <br />
                                  <p>
                                <b>Get advises ob how to boost your sales</b>
                                     <br />
                                Lorem ipsum dolor sit amet consectetur adipisicing elit. Vero ratione neque cupiditate at veritatis blanditiisnemo quia iure ullam, libero autem minus iusto natus quisquam eligendi quidem tenetur aspernatur magnam!
                                  </p>
                                  <br />
                                  <p>
                                <b>Get advises ob how to boost your sales</b>
                                     <br />
                                Lorem ipsum dolor sit amet consectetur adipisicing elit. Vero ratione neque cupiditate at veritatis blanditiisnemo quia iure ullam, libero autem minus iusto natus quisquam eligendi quidem tenetur aspernatur magnam!
                                  </p>
                                  <br />
                                  <p>
                                <b>Get advises ob how to boost your sales</b>
                                     <br />
                                Lorem ipsum dolor sit amet consectetur adipisicing elit. Vero ratione neque cupiditate at veritatis blanditiisnemo quia iure ullam, libero autem minus iusto natus quisquam eligendi quidem tenetur aspernatur magnam!
                                  </p>
                                  <br />
                                  
                        </div>
</body>
</html>